divp {
    font-size: 28px;
    font-style: oblique;
}
.Abt{
    font-size: 19px;
    margin-inline: 60px;
    text-align: justify;
  }
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
li {
    display:inline;      
    background-color: #333;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
li:hover {
    background-color: #bbd0ff;
    color: white;
  }
a:link {
    color: white; 
  }
a:visited {
    color: white;
  }

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container img {
    max-width: 100%; 
    margin-right: 20px; 
}

/* Style for the paragraph */
.content-container p {
    max-width: 60%; /* Adjust the width of the paragraph as needed */
}
